.carousel-control-prev-icon, .carousel-control-next-icon {

  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent background */
  border-radius: 50%;  /* Rounded buttons */
  padding: 12px;
  z-index: 5;
}